<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <style>body {
    //background-image:url('nicegif.gif');
        background-size:100%;
        background-repeat: repeat-y;
        background-attachment: fixed;
        height:100%;
        width:100%;
    }
    </style>
    <meta charset="ISO-8859-1">
    <title>Reset password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br><br><br><br><br><br><br>
    <h1 style="color:black;">Reset Password</h1><div class="card">
    <div class="card-body">
        <p id="error" class="exceptions" style="color:red;" th:text="${msg}" ></p>
        <form id="form" action="#" th:action="@{/createNewPassword}" th:object="${user}" method="post">

            <div class=" form-group row">
                <label for="code" class="col-sm-2 col-form-label">Verification code</label>
                <div class="col-sm-7">
                    <input type="text" id="code" class="form-control" name="code" placeholder="Check your email and enter the code here" th:field="${code.code}">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input type="password" id="password" class="form-control" name="password" placeholder="Enter Password" th:field="*{password}">
                </div>
            </div>

            <div class="form-group row">
                <label for="cpassword" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-7">
                    <input type="password" id="cpassword" class="form-control" name="cpassword" placeholder="Enter Confirm Password" th:field="*{confPassword}">
                </div>
            </div>

            <button type="button" class="btn btn-outline-primary" onclick="validate()">Submit</button>

        </form>
    </div>
</div>
</div>
<script>
    function validate(){
        var pass = document.getElementById("password").value;
        var cpass = document.getElementById("cpassword").value;
        var code = document.getElementById("code").value;
        if (pass != null && pass !=="" && cpass != null && cpass !=="" && code != null && code !=="" ){
            if (pass ===cpass){
                document.getElementById("form").submit();
            }
            else
                document.getElementById("error").innerHTML = "The password and the confirm password is not the same";
        }
        else if (pass == null || pass ===""){
            document.getElementById("error").innerHTML = "The password must be fill in";
        }
        else if (cpass == null || cpass ===""){
            document.getElementById("error").innerHTML = "The password must be fill in";
        }
        else if (code == null || code ===""){
            document.getElementById("error").innerHTML = "The email must be fill in";
        }
        else{
            document.getElementById("error").innerHTML = "something went wrong, fill all the fields and try again";
        }
    }
</script>
</body>

</html>
