<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <style>body {
    //background-image:url('nicegif.gif');
        background-size:100%;
        background-repeat: repeat-y;
        background-attachment: fixed;
        height:100%;
        width:100%;
    }
    </style>
    <meta charset="ISO-8859-1">
    <title>User Email</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br><br><br><br><br><br><br>
    <h1 style="color:black;">Email Form:</h1><div class="card">
    <div class="card-body">
        <p>Please insert your username and email to send you a verification code and change your password </p>
        <p id="error" class="exceptions" style="color:red;" th:text="${msg}" ></p>
        <!--/*@thymesVar id="user" type="com.john.graduate_project.dto.UserDto"*/-->
        <form action="#" th:action="@{/resetPassword}" th:object="${user}" method="post">

            <div class=" form-group row">
                <label for="username" class="col-sm-2 col-form-label">UserName</label>
                <div class="col-sm-7">
                    <input type="text" id="username" class="form-control" name="username" placeholder="Enter user name" th:field="*{username}">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input type="text" id="email" class="form-control" name="email" placeholder="Enter your email" th:field="*{mail}">
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary">Submit</button>
            <br>
            <br>
        </form>
    </div>
</div>
</div>
</body>

</html>
