<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
    /* CSS styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .menu a {
      margin-left: 10px;
      color: #fff;
      text-decoration: none;
    }
    a {
      margin-left: 10px;
      color: #fff;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <section class="top-nav">
    <div class="logo">
      <img src="/cars-photo/logo/logo.png" style="max-width: 70px;max-height: 70px" alt="Car Rental Logo">
      <h1 style="font-size: 1.5em;margin-block-start: 0.83em;margin-block-end: 0.83em;font-weight: bold;"><a href="/homepage" style="text-decoration: none;color: #fff;">Car Rental</a></h1>
    </div>
    <ul id="menu">
    </ul>
  </section>
<!--  <script src="/Javascript/Navbar.js" ></script>-->
  <script th:inline="javascript">
    var name;
    var allcookies = document.cookie;

    // Get all the cookies pairs in an array
    cookiearray = allcookies.split(';');

    // Now take key value pair out of this array
    for(var i=0; i<cookiearray.length; i++) {
      if (cookiearray[i].split('=')[1] === "Name"){
        name = cookiearray[i].split('=')[1];
      }
    }
    //var username = [[${user.getUsername()}]];
    /*var role = [[${user.getRole()}]];
    if (role === "Owner"){*/
      document.getElementById("menu").innerHTML =
              "<li><a href=\"/homepage\">Home</a></li>"+
              "<li><a href=\"/maps\">Maps</a></li>"+
              "<li><a href=\"/rent?page=0&size=12&sort=none\">Rent</a></li>"+
              "<li><a href=\"/addcar\">Add a car</a></li>"+
              "<li><a href=\"\">Requests</a>" +
                  "<div class=\"dropdown_menu\">" +
                      "<ul>" +
                        "<li><a href=\"/requestFor\">Request to rent a car</a></li>" +
                        "<li><a href=\"/requestMy\">Request to rent my car</a></li>" +
                      "</ul>"+
                  "</div>"+
              "</li>"+
              "<li><a href=\"/contact\">Contact</a></li>"+
              "<li style=\"background-color:transparent;border:none;color:white;font-size:16px\"><a href=\"/MyProfile\">"+name+"</a></li>"+
              "<li><a href=\"/logout\">logout</a></li>";
    /*}
    else{
      document.getElementById("menu").innerHTML =
              "<li><a href=\"/homepage\">Home</a></li>"+
              "<li><a href=\"/maps\">Maps</a></li>"+
              "<li><a href=\"/rent\">Rent</a></li>"+
              "<li><a href=\"/request\">Requests</a></li>"+
              "<li><a href=\"/contact\">Contact</a></li>"+
              "<li style=\"background-color:transparent;border:none;color:white;font-size:16px\"><a href=\"/MyProfile\">"+username+"</a></li>"+
              "<li><a href=\"/logout\">logout</a></li>";
    }*/
  </script>

  <div class="container">
    <h1>More information about you</h1>
    <div class="card">
      <div class="card-body">
        <p id="error" style="color:red;" th:text="${msg}"></p>

        <form id="form" action="#" th:action="@{/moreInfo}" th:object="${info}" method="post" >

          <div class="form-group row">
            <label for="licenseDate" class="col-sm-2 col-form-label">Date of driving license</label>
            <div class="col-sm-7">
              <input type="date" id="licenseDate" class="form-control" name="licenseDate"  th:field="*{dateOfDL}">
            </div>
          </div>

          <div class="form-group row">
            <label for="info" class="col-sm-2 col-form-label">Information</label>
            <div class="col-sm-7">
              <textarea style="resize: none" class="form-control" id="info" rows="4" cols="50" placeholder="Information that the owner must know. Max characters 500"></textarea>
              <input type="hidden" id="hinfo" class="form-control" name="info" th:field="*{info}">
            </div>
          </div>

          <input type="button" onclick="validate()" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    function validate(){
      let info = document.getElementById("info").value;
      document.getElementById("hinfo").setAttribute("value", info);
      document.getElementById("form").submit();
    }
  </script>
</body>
</html>


