<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>My Profile</title>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* CSS styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }


        .menu a {
            margin-left: 10px;
            color: #fff;
            text-decoration: none;
        }
        a {
            margin-left: 10px;
            color: #fff;
            text-decoration: none;
        }


    </style>
</head>
<body>
<section class="top-nav">
    <div class="logo">
        <img src="/cars-photo/logo/logo.png" style="max-width: 70px;max-height: 70px" alt="Car Rental Logo">
        <h1 style="font-size: 1.5em;margin-block-start: 0.83em;margin-block-end: 0.83em;font-weight: bold;"><a href="/homepage" style="text-decoration: none;color: #fff;">Car Rental</a></h1>
    </div>
    <ul id="menu" ><!--class="menu"-->
    </ul>
</section>
<!--<script src="/Javascript/Navbar.js" ></script>-->
<h3 style="text-align: center">My Profile</h3>
<p id="error" style="color:red;" th:text="${msg}"></p>
<div style="max-width: 100%" class="container" >
    <div  class="car-list" style="justify-content: flex-start">
            <div class="car" style="width: 400px" >
                <h2 th:text="'Name: ' + ${user.getFirstName()} + ' ' +${user.getLastName()}"></h2>
                <p th:text="'E-mail: ' + ${user.getMail()}"></p>
                <p th:text="'Phone Number: ' + ${user.getPhone()}"></p>
                <p th:text="'Age: ' + ${user.getAge()}"></p>
                <input class="btn btn-outline-primary" type="button" onclick="edit()" value="edit my profile">
            </div>
            <div style="max-width: 73%">
                <br>
                <h4>Review</h4>
                <div th:each="review : ${reviews}" >
                    <div class="car-list" style="justify-content: left">
                        <P th:text="${review.getReviewForUserID().getOwner_username()}+'&emsp;'+${review.getStars()}"></P><img src="/cars-photo/logo/star.png" alt="stars" style="width: 15px;height: 15px">
                    </div>
                    <p th:text="${review.getReview()}"></p>
                    <br>
                </div>
            </div>
    </div>
</div>

<div id="myCars" style="display:none;max-width: 100%" class="container" >
<!--    <div th:if="${user.getRole().equals('User')}" >-->
        <h3 style="text-align: center">My Cars</h3>
        <div th:each="cr : ${cars_review}" class="car-list" style="justify-content: flex-start">
            <div class="car">
                <img th:src="@{${cr[0].getPhotoPath()}}" style="width:200px " alt="Car 1">
                <h3 th:text="${cr[0].getModel()}"></h3>
                <p th:text="${cr[0].getValue()} + ' $/day'"></p>
                <div id="review1" class="car-list" style="padding-left: 100px; justify-content: left">
                    <p th:text="${cr[0].getRating()}"></p><img src="/cars-photo/logo/star.png" alt="stars" style="width: 15px;height: 15px">
                </div>
                <p th:text="'Description: ' + ${cr[0].getDescription()}"></p><br>
                <p th:text="'Available days: ' + ${cr[0].getAvailableDays()}"></p>
                <button class="btn btn-outline-primary" th:data-license="${cr[0].getLicense()}" onclick="editCar(this.getAttribute('data-license'))" >Edit</button>
                <button class="btn btn-outline-danger" th:data-license="${cr[0].getLicense()}" onclick="deleteCar(this.getAttribute('data-license'))"  >Delete</button>
            </div>
            <div style="max-width: 73%">
                <br>
                <h4>Review</h4>
                <div th:each="rev :${cr[1]}">
                    <br>
                    <div class="car-list" style="justify-content: left">
                        <P th:text="${rev.getReviewForCarID().getRenter_username()}+'&emsp;'+${rev.getStars()}"></P><img src="/cars-photo/logo/star.png" alt="stars" style="width: 15px;height: 15px">
                    </div>
                    <p th:text="${rev.getReview()}"></p>
                </div>
            </div>
        </div>
<!--    </div>-->
    <!--<div th:unless="${user.getRole() == 'User'}" class="car-list">
        fjkhsafkhk
    </div>-->
</div>
<!--<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>-->

<script th:inline="javascript">
    var name;
    var allcookies = document.cookie;

    // Get all the cookies pairs in an array
    cookiearray = allcookies.split(';');

    // Now take key value pair out of this array
    for(var i=0; i<cookiearray.length; i++) {
        if (cookiearray[i].split('=')[1] === "Name"){
            name = cookiearray[i].split('=')[1];
        }
    }
    //var username = [[${user.getUsername()}]];
    /*var role = [[${user.getRole()}]];
    console.log(role)
    if (role === "Owner"){*/
        document.getElementById("menu").innerHTML =
            "<li><a href=\"/homepage\">Home</a></li>"+
            "<li><a href=\"/maps\">Maps</a></li>"+
            "<li><a href=\"/rent?page=0&size=12&sort=none\">Rent</a></li>"+
            "<li><a href=\"/addcar\">Add a car</a></li>"+
            "<li><a href=\"\">Requests</a>" +
                "<div class=\"dropdown_menu\">" +
                    "<ul>" +
                        "<li><a href=\"/requestFor\">Request to rent a car</a></li>" +
                        "<li><a href=\"/requestMy\">Request to rent my car</a></li>" +
                    "</ul>"+
                "</div>"+
            "</li>"+
            "<li><a href=\"/contact\">Contact</a></li>"+
            "<li style=\"background-color:transparent;border:none;color:white;font-size:16px\"><a href=\"/MyProfile\">"+name+"</a></li>"+
            "<li><a href=\"/logout\">logout</a></li>";
        document.getElementById("myCars").style.display ="block"
    /*}
    else{
        document.getElementById("menu").innerHTML =
            "<li><a href=\"/homepage\">Home</a></li>"+
            "<li><a href=\"/maps\">Maps</a></li>"+
            "<li><a href=\"/rent\">Rent</a></li>"+
            "<li><a href=\"/request\">Requests</a></li>"+
            "<li><a href=\"/contact\">Contact</a></li>"+
            "<li style=\"background-color:transparent;border:none;color:white;font-size:16px\"><a href=\"/MyProfile\">"+username+"</a></li>"+
            "<li><a href=\"/logout\">logout</a></li>";
    }*/
    function temp(){
        return true;
    }
    function edit(){
        window.location.href = "editProfile";
    }

    function editCar(license){
        window.location.href = "editCar?param="+license;
    }
    function deleteCar(license){
        if (confirm("Are you sure you want to delete this car ?") == true) {
            window.location.href = "deleteCar?param="+license;
        }

    }

</script>
</body>
</html>