<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="ISO-8859-1">
    <style>
        /* CSS styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .menu a {
            margin-left: 10px;
            color: #fff;
            text-decoration: none;
        }
        a {
            margin-left: 10px;
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body class="table" style="border:2px ">
<section class="top-nav">
    <div class="logo">
        <img src="/cars-photo/logo/logo.png" style="max-width: 70px;max-height: 70px" alt="Car Rental Logo">
        <h1 style="font-size: 1.5em;margin-block-start: 0.83em;margin-block-end: 0.83em;font-weight: bold;"><a href="/homepage" style="text-decoration: none;color: #fff;">Car Rental</a></h1>
    </div>
    <ul id="menu">
    </ul>
</section>
<!--<script src="/Javascript/Navbar.js" ></script>-->
<div>
    <br>
    <br>
    <p id="error" style="color:red;" th:text="${msg}"></p>
    <div  style='text-align:center'>
        <div style="border:5px ">
            <h2 >Request to rent a car</h2>
            <table class="table" style="font-size:150%;margin-right:auto;margin-left:auto;border:2px ">
                <thead class="thead-dark">
                <tr>
                    <th  scope="col">Name</th>
                    <th  scope="col">Car plate</th>
                    <th  scope="col">Request day</th>
                    <th  scope="col">Request update day</th>
                    <th  scope="col">Days</th>
                    <th  scope="col">Status</th>
                    <th  scope="col">Review</th>
                    <th  scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r1 : ${request_for}">
                    <td th:text="${r1.getRequestCarID().getOwner_username()}"></td>
                    <td th:text="${r1.getRequestCarID().getCar_license()}"></td>
                    <th scope="row" th:text="${r1.getRequestCarID().getDateTime()}"></th>
                    <th scope="row" th:text="${r1.getUpdateDate()}"></th>
                    <td th:text="${r1.getDates()}"></td>
                    <td th:text="${r1.getStatus()}"></td>
                    <td th:if="${r1.getCanReviewCar()} == 0" ><p>You can't review this car yet</p></td>
                    <td th:if="${r1.getCanReviewCar()} == 1" ><button class="btn btn-outline-primary" th:data-license="${r1.getRequestCarID().getCar_license()}" th:data-date="${r1.getRequestCarID().getDateTime()}"
                                                                      onclick="reviewCar(this.getAttribute('data-license'), this.getAttribute('data-date'))"
                                                                      style="width: 150px;height: 50px" >review</button></td>
                    <td th:if="${r1.getCanReviewCar()} == 2" ><p>You have reviewed this car</p></td>
                    <td th:if="${r1.getCanReviewCar()} == 3" ><p>You can't review this car</p></td>
                    <td th:if="${r1.getCanReviewCar()} == 4" ><p>You must wait</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var name;
    var allcookies = document.cookie;

    // Get all the cookies pairs in an array
    cookiearray = allcookies.split(';');

    // Now take key value pair out of this array
    for(var i=0; i<cookiearray.length; i++) {
        if (cookiearray[i].split('=')[1] === "Name"){
            name = cookiearray[i].split('=')[1];
        }
    }
    //var username = [[${user.getUsername()}]];
    /*var role = [[${user.getRole()}]];
    if (role === "Owner"){*/
    document.getElementById("menu").innerHTML =
        "<li><a href=\"/homepage\">Home</a></li>"+
        "<li><a href=\"/maps\">Maps</a></li>"+
        "<li><a href=\"/rent?page=0&size=12&sort=none\">Rent</a></li>"+
        "<li><a href=\"/addcar\">Add a car</a></li>"+
        "<li><a href=\"\">Requests</a>" +
            "<div class=\"dropdown_menu\">" +
                "<ul>" +
                    "<li><a href=\"/requestFor\">Request to rent a car</a></li>" +
                    "<li><a href=\"/requestMy\">Request to rent my car</a></li>" +
                "</ul>"+
            "</div>"+
        "</li>"+
        "<li><a href=\"/contact\">Contact</a></li>"+
        "<li style=\"background-color:transparent;border:none;color:white;font-size:16px\"><a href=\"/MyProfile\">"+name+"</a></li>"+
        "<li><a href=\"/logout\">logout</a></li>";
    document.getElementById("owner").style.display = "block";
    /*}
    else{
      document.getElementById("menu").innerHTML =
              "<li><a href=\"/homepage\">Home</a></li>"+
              "<li><a href=\"/maps\">Maps</a></li>"+
              "<li><a href=\"/rent\">Rent</a></li>"+
              "<li><a href=\"/request\">Requests</a></li>"+
              "<li><a href=\"/contact\">Contact</a></li>"+
              "<li style=\"background-color:transparent;border:none;color:white;font-size:16px\"><a href=\"/MyProfile\">"+username+"</a></li>"+
              "<li><a href=\"/logout\">logout</a></li>";
    }*/
    document.querySelectorAll('input').forEach(occurence => {
        let id = occurence.getAttribute('id');
        occurence.addEventListener('click', function() {
            var but = document.getElementById(id).value;
            if (but === "decline"){
                let temp = id.split(" ");
                id = temp[1] + " " + temp[0] + " " + temp[2];
            }
            window.location.href = "updateStatus?param1=" + id + "&param2=" + but;
        } );
    });
    function reviewCar(license, date){
        window.location.href = "request/ReviewCar?param=" + license + "&param2=" + date;
    }
</script>
</body>
</html>